@import "./sass/base/reset";
@import "./sass/base/typography";
@import "./sass/layouts/header";
@import "./sass/pages/homepage";
@import"./sass/utils/variables";
@import"./sass/layouts/footer";
@import"./sass/pages/restaurants";
@import"./sass/utils/mixins";


.fonctionnement{
    counter-reset: steps;
    padding: 1rem;
    & ol{
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (min-width: 768px){
            flex-direction: row;
        }
        
    }
    & li{
        &::before{
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: #9356DC;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -1rem;
            
        }
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: #f7f7f7;
        gap: 10px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 1rem 2rem;
        list-style-type: none;
        & i{
            color: #7E7E7E;
        }
        & .fa-store{
            color: #9356DC;
        }
    }
    
}

.restaurants{
    background-color: #F7F7F7;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 18px;
    & .new{
        position: relative;
    }
    & .new::before{
        content: "Nouveau";
        position: absolute;
        color: darken($color: $tertiary-color, $amount: 50%);
        background: $tertiary-color;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 29px;
        right: 1rem;
        top: 1rem;
        
    }
    & img{
        height: 200px ;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
          }
    & .card{
        height: 24%;
        width: 100%;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px; 
       
        &_content{
            padding: 10px 0 10px 20px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
            &::before{
               @include heart
            }
            &::after{
                @include heart;
                @include linearGradient;
                opacity: 0;
                font-weight: 900;
                -webkit-text-fill-color: transparent; 
                -webkit-background-clip: text;  
                background-clip: text;             
            }
            &:hover::after{
                opacity: 1;

              
            }
                }
         }
    }


.loader{
    position: fixed;
    background: #FFFFFF;
    height: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disparition 200ms 3s forwards;
    display: grid;
    place-items: center;
    & img{
        width: 400px;
        object-fit: contain;
        animation: spin 3s ;
    }
}

@keyframes disparition{
    to{transform: scale(0);}
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}