.loader{
    position: fixed;
    background: #FFFFFF;
    height: 100%;
    inset: 0;
    z-index: 1;
    animation: disparition 200ms 3s forwards;
    display: grid;
    place-items: center;
    & img{
        width: 300px;
        object-fit: contain;
        animation: spin 3s ;
    }
}