@import"../utils/mixins";
@import"../utils/keyframes";

#pages-restaurants{
    header::before{
        @include arrow-left;
    }
    main{
        @media (min-width: 769px){
            padding: 0 180px 0 180px;
        }
    }
}

img{
    width: 100%;
    height: 275px;
    object-fit: cover;
    @media (min-width: 769px){
        height: 383px;
    }
}
.menu{
    padding: 0.7rem;
    background: #f7f7f7;
    border-radius: 1rem 1rem 0rem 0rem;
    margin-top: -3rem;
    position: relative;
    overflow: hidden;
    @media (min-width: 769px){
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 1rem 180px 1rem 180px;
    }
    &::before{
        @include heart;
        right: 2rem;
        top: 2rem;
     }
     &::after{
         @include heart;
         @include linearGradient;
         opacity: 0;
         font-weight: 900;
         -webkit-text-fill-color: transparent; 
         -webkit-background-clip: text;  
         background-clip: text;  
         top: 2rem;   
         right: 2rem;        
     }
     &:hover::after{
         opacity: 1;
         top: 2rem;
         right: 2rem;
     }
    & .plats{display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        & h2{
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 0;
             
        }
        & .green-border{
            border-bottom: 3px solid #99E2D0;
            width: 2.5rem;
        }
        &_cards{
            background: #FFFFFF;
            display: flex;
            flex-direction: row;
            border-radius: 1rem 1rem 1rem 1rem;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            gap: 5px;
            align-items:flex-end;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            animation: appear 1s both;
            & .prix{
                margin-left: auto;
                padding: 15px 1rem 15px 15px;
                font-weight: 900;
                color: #353535;
            }
            @for $i from 2 through 8 {
                &:nth-child(#{$i}) {
                    animation-delay: 100ms * $i;
                }
            }
            &:hover{
                cursor: pointer;
            }
            &:hover .plats_cards_check {
                margin-right: 0;
            }
            &_check{
                background-color: $tertiary-color;
                margin-right: -4rem;
                border-radius: 0 1rem 1rem 0;
                height: 100%;
                transition: margin-right 0.5s;
                justify-content: center;
                align-items: center;
                display: flex;
                width: 60px;
                height: 69px;
                & i{
                    background: white;
                    border-radius: 1rem;
                    height: 2rem;
                    width: 2rem;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    color: $tertiary-color; 
                }
            }
            &_txt{
                padding: 15px;
                overflow: hidden;
                & p,h3{
                    white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 500;
                }
            }
            & p{
                font-size: 15px;
                font-weight: 300;
                
            } 
        }
    }
    @media (min-width: 769px){
        &::before{
            right: 5rem;
         }
         &::after{
             right: 5rem;        
         }
         &:hover::after{
             right: 5rem;
         }
        }
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
button{
    @include button;
}

.restaurants{
    background-color: #F7F7F7;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 18px;
      @media (min-width: 769px){
        padding: 0 180px 30px 180px;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    & a{
        @media (min-width: 769px){
            width: 45%;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px; 
        }
    }
    & h2{
        @media (min-width: 769px){
            width: 100%;
        }
    }
    & .new{
        position: relative;
    }
    & .new::before{
        content: "Nouveau";
        position: absolute;
        color: darken($color: $tertiary-color, $amount: 50%);
        background: $tertiary-color;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 29px;
        right: 1rem;
        top: 1rem;
        
    }
    & img{
        height: 200px ;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
          }
    & .card{
        height: 24%;
        width: 100%;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px; 
        &_content{
            padding: 10px 0 10px 20px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
            &::before{
               @include heart
               
            }
            &::after{
                @include heart;
                @include linearGradient;
                opacity: 0;
                font-weight: 900;
                -webkit-text-fill-color: transparent; 
                -webkit-background-clip: text;  
                background-clip: text;             
            }
            &:hover::after{
                opacity: 1;
            }
                }
         }
    }
